@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-slate-950 tracking-wider
  }
}

.patrick-hand {
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}